NODE_ENV=production
DB_SYNC_ALTER=false

JWT_SECRET=pon_un_secreto_largo_y_random
INGEST_API_KEY=wokwi-dev-ingest-key

DB_HOST=${{MySQL.MYSQLHOST}}
DB_PORT=${{MySQL.MYSQLPORT}}
DB_USER=${{MySQL.MYSQLUSER}}
DB_PASS=${{MySQL.MYSQLPASSWORD}}
DB_NAME=${{MySQL.MYSQLDATABASE}}

FRONTEND_ORIGIN=https://${{frontend.RAILWAY_PUBLIC_DOMAIN}}
